@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-weight($font-weight) {
  @if ($font-weight == "light") {
    font-weight: 300;
  }

  @if ($font-weight == "bold") {
    font-weight: 700;
  }
}
