.c-btn {
  width: 170px;
  height: 50px;
  border-radius: 25px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;

  &--large {
    width: 184px;
    height: 55px;
  }

  &--primary {
    border: 1px solid $button-border-primary-color;
    background: $button-bg-primary-color;
    color: $button-text-primary-color;
  }

  &:hover {
    cursor: pointer;
  }
}

