.c-btn {
  @include font-weight('light');

  width: 170px;
  height: 50px;
  border-radius: 30px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  &--large {
    width: 184px;
    height: 55px;
    padding: 0 20px;
  }

  &--default {
    border: 1px solid $button-border-default-color;
    background: $button-bg-default-color;
    color: $button-text-default-color;

    .c-btn__icon {
      fill: $button-icon-default-color;
    }
  }

  &--primary {
    border: 1px solid $button-border-primary-color;
    background: $button-bg-primary-color;
    color: $button-text-primary-color;

    .c-btn__icon {
      fill: $button-icon-primary-color;
    }
  }

  &--has-icon {
    display: flex;
    align-items: center;

    .c-btn__text {
      margin-left: 15px;
      width: 100%;
    }
  }

  &--text-light {
    @include font-weight('light');
  }

  &--text-bold {
    @include font-weight('bold');
  }

  &:hover {
    cursor: pointer;
  }
}

