.o-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 40px;

  &__logo {
    width: 180px;
    height: 23px;
    margin-bottom: 25px;
  }

  &__figure {

    margin-bottom: 32px;
  }

  &__image {
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.4em;
  }

  &__text {
    margin-top: -20px;
    text-align: center;
    line-height: 1.8em;
    margin-bottom: 35px;
  }

  &__options {
    margin-bottom: 35px;
    width: 100%;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    &:first-child {
      margin-bottom: 32px;
    }
  }
}
