.title {

    &--highlight {
      font-weight: 700;
      font-size: 80px;
      line-height: 1.2em;
      color: $text-color-primary;
    }

    &--primary {
      font-weight: 700;
      font-size: 40px;
      line-height: 1.2em;
    }
}
