@import 'generic/reset';

@import 'settings/fonts';
@import 'settings/variables';

@import 'tools/placeholders';
@import 'tools/mixins';

@import 'base/images';

@import 'objects/breakline';
@import 'objects/icons';
@import 'objects/containers';
@import 'objects/wrappers';
@import 'objects/stage';
@import 'objects/panels';
@import 'objects/survey';

@import 'components/buttons';
@import 'components/intro';


.stage--step:nth-child(2) {
  background: green;
}

.stage--step:nth-child(3) {
  background: red;
}

.stage--step:nth-child(4) {
  background: blue;
}

.stage--step:nth-child(5) {
  background: purple;
}
